Source: dataproperty
Section: python
Priority: optional
Maintainer: Tsuyoshi Hombashi <tsuyoshi.hombashi@gmail.com>
Build-Depends:
    debhelper (>= 10),
    dh-python,
    python3-all,
    python3-dateutil,
    python3-logbook,
    python3-mbstrdecoder,
    python3-pytest,
    python3-setuptools,
    python3-six,
    python3-termcolor,
    python3-typepy,
    python3-tz,
    python3-wheel
Standards-Version: 4.1.2
Homepage: https://github.com/thombashi/DataProperty
X-Python3-Version: >= 3.4

Package: python3-dataproperty
Architecture: all
Depends:
    ${python3:Depends},
    ${misc:Depends},
    python3-dateutil,
    python3-tz,
Recommends:
    python3-logbook,
Description: Extract property from data.
 - GitHub repository: https://github.com/thombashi/DataProperty
 - Issue tracker: https://github.com/thombashi/DataProperty/issues
 .
 This package installs the library for Python 3.
